.cdx-simple-image {}

.cdx-simple-image .cdx-loader {
  min-height: 80px;
}

.cdx-simple-image .cdx-input {
  margin-top: 10px;
}

.cdx-simple-image img {
  max-width: 100%;
  vertical-align: bottom;
  display: block;
  margin: auto;
}

/* .cdx-simple-image__caption {
  max-width: 48%;
  float:left;
}

.cdx-simple-image__caption:first-child {
  margin-right: 4%;
} */

.grid-container {
  position: relative;
  display: grid;
  grid-template-columns: 1.5fr 0.5fr;
  grid-template-rows: 1fr;
  gap: 10px 10px;
}

.left { grid-area: 1 / 1 / 2 / 3; }

.right { grid-area: 1 / 2 / 2 / 3; }


.cdx-simple-image__caption[contentEditable=true][data-placeholder]:empty::before {
  position: absolute;
  content: attr(data-placeholder);
  color: #707684;
  font-weight: normal;
  opacity: 0;
  max-width: 50%;
}

.cdx-simple-image__caption[contentEditable=true][data-placeholder]:empty::before {
  opacity: 1;
}

.cdx-simple-image__caption[contentEditable=true][data-placeholder]:empty:focus::before {
  opacity: 0;
}

.cdx-simple-image__url {
  color: #707684;
  font-weight: normal;
  font-size: 8pt;
  text-align: center;
}


.cdx-simple-image__picture--with-background {
  background: #eff2f5;
  padding: 10px;
}

.cdx-simple-image__picture--with-background img {
  display: block;
  max-width: 60%;
  margin: 0 auto;
}

.cdx-simple-image__picture--with-border {
  border: 1px solid #e8e8eb;
  padding: 1px;
}

.cdx-simple-image__picture--stretched img {
  max-width: none;
  width: 100%;
}